// Colours partial

// Text colours
$txt-primary: rgba(20, 68, 23, 0.6);
// body font
$txt-secondary: #3d5145;
// heading font
$txt-light: rgb(8, 31, 10);
// header/hero
$txt-accent: #acb4ae;
$form-placeholder: #bcc3be;
$header-dark: rgba(255, 255, 255, 0.88);
$header-light: rgba(255, 255, 255, 0.2);
// form placeholder text
// Global colours
$accent-color: #70db6d;
// global accent colour
$accent-color-hover: #5fbd5c;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3d513f;
$h3-color: #3d513f;
$h5-color: #3d513f;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #4a6149;
$footer-primary: #4a6149;
$footer-secondary: #374a40;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4a6149;